In [1]:
import pyspark

In [2]:
import pandas as pd
df = pd.read_csv('Test.csv')

In [3]:
df

      Name   Age
0   Abhinav   22
1     Rishi   22
2     Rohan   24
3  Raushan    25

In [4]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("Practice").getOrCreate()

In [5]:
spark

In [6]:
df_spark = spark.read.csv('Test.csv')

In [9]:
df_spark.show()

+--------+---+
|     _c0|_c1|
+--------+---+
|   Name |Age|
| Abhinav| 22|
|   Rishi| 22|
|   Rohan| 24|
|Raushan | 25|
+--------+---+

In [16]:
df_spark = spark.read.options(header=True).csv('Test.csv')

In [17]:
type(df_spark)

pyspark.sql.classic.dataframe.DataFrame

In [18]:
df_spark.show()

+--------+---+
|   Name |Age|
+--------+---+
| Abhinav| 22|
|   Rishi| 22|
|   Rohan| 24|
|Raushan | 25|
+--------+---+

In [19]:
df_spark.printSchema()

root
 |-- Name : string (nullable = true)
 |-- Age: string (nullable = true)