In [1]:
from pyspark.sql import SparkSession

In [3]:
spark = SparkSession.builder.appName("DataFrame").getOrCreate()

In [4]:
spark

In [9]:
## Reading the Dataset

df_pyspark = spark.read.options(header = True, inferSchema = True).csv("Test.csv")

In [10]:
## Check the schema of the DataFrame

df_pyspark.printSchema()

root
 |-- Name : string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Experience: integer (nullable = true)

In [11]:
df_pyspark = spark.read.csv("Test.csv", header=True, inferSchema=True)
## Check the schema of the DataFrame again
df_pyspark.printSchema()

root
 |-- Name : string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Experience: integer (nullable = true)

In [12]:
df_pyspark.show()

+--------+---+----------+
|   Name |Age|Experience|
+--------+---+----------+
| Abhinav| 22|         4|
|   Rishi| 22|         3|
|   Rohan| 24|         2|
|Raushan | 25|         1|
+--------+---+----------+

In [13]:
type(df_pyspark)

pyspark.sql.classic.dataframe.DataFrame

In [14]:
df_pyspark.columns

['Name ', 'Age', 'Experience']

In [16]:
df_pyspark.head(2)

[Row(Name ='Abhinav', Age=22, Experience=4),
 Row(Name ='Rishi', Age=22, Experience=3)]

In [17]:
df_pyspark.show()

+--------+---+----------+
|   Name |Age|Experience|
+--------+---+----------+
| Abhinav| 22|         4|
|   Rishi| 22|         3|
|   Rohan| 24|         2|
|Raushan | 25|         1|
+--------+---+----------+

In [21]:
df_pyspark.select("Name ")

DataFrame[Name : string]

In [24]:
df_pyspark.select(["Name ", 'Experience']).show()

+--------+----------+
|   Name |Experience|
+--------+----------+
| Abhinav|         4|
|   Rishi|         3|
|   Rohan|         2|
|Raushan |         1|
+--------+----------+

In [ ]:
df_pyspark['Name ']

Column<'`Name `'>

In [26]:
df_pyspark.dtypes

[('Name ', 'string'), ('Age', 'int'), ('Experience', 'int')]

In [28]:
df_pyspark.describe().show()

+-------+-------+------------------+------------------+
|summary|  Name |               Age|        Experience|
+-------+-------+------------------+------------------+
|  count|      4|                 4|                 4|
|   mean|   NULL|             23.25|               2.5|
| stddev|   NULL|1.4999999999999996|1.2909944487358056|
|    min|Abhinav|                22|                 1|
|    max|  Rohan|                25|                 4|
+-------+-------+------------------+------------------+

In [31]:
## adding columns in df_pyspark

df_pyspark = df_pyspark.withColumn("Experience in 2 Years", df_pyspark['Experience'] * 2)

In [32]:
df_pyspark.show()

+--------+---+----------+---------------------+
|   Name |Age|Experience|Experience in 2 Years|
+--------+---+----------+---------------------+
| Abhinav| 22|         4|                    8|
|   Rishi| 22|         3|                    6|
|   Rohan| 24|         2|                    4|
|Raushan | 25|         1|                    2|
+--------+---+----------+---------------------+

In [33]:
## Dropping the column
df_pyspark = df_pyspark.drop("Experience in 2 Years")

In [34]:
df_pyspark.show()

+--------+---+----------+
|   Name |Age|Experience|
+--------+---+----------+
| Abhinav| 22|         4|
|   Rishi| 22|         3|
|   Rohan| 24|         2|
|Raushan | 25|         1|
+--------+---+----------+

In [35]:
## rename the column
df_pyspark = df_pyspark.withColumnRenamed("Name ", "Name")

In [36]:
df_pyspark.show()

+--------+---+----------+
|    Name|Age|Experience|
+--------+---+----------+
| Abhinav| 22|         4|
|   Rishi| 22|         3|
|   Rohan| 24|         2|
|Raushan | 25|         1|
+--------+---+----------+