In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName("Practice Filter Operations").getOrCreate()

In [9]:
df_pyspark = spark.read.csv("Test.csv",header=True, inferSchema=True)

In [10]:
df_pyspark.show()

+--------+---+----------+------+
|   Name |Age|Experience|Salary|
+--------+---+----------+------+
| Abhinav| 22|         4| 25000|
|   Rishi| 22|         3| 30000|
|   Rohan| 24|         2| 12000|
|Raushan | 25|         1| 20000|
|    Ansh| 21|         2| 35000|
|   Aryan| 23|         3| 22000|
+--------+---+----------+------+

In [11]:
## Filter operations

# Salary 0f people lessthan 20k
df_pyspark.filter("Salary<=20000").show()

+--------+---+----------+------+
|   Name |Age|Experience|Salary|
+--------+---+----------+------+
|   Rohan| 24|         2| 12000|
|Raushan | 25|         1| 20000|
+--------+---+----------+------+

In [12]:
df_pyspark.filter("Salary<=20000").select("Name ","age").show()

+--------+---+
|   Name |age|
+--------+---+
|   Rohan| 24|
|Raushan | 25|
+--------+---+

In [14]:
df_pyspark.filter(df_pyspark["Salary"] <= 20000).select("Name ", "age").show()

+--------+---+
|   Name |age|
+--------+---+
|   Rohan| 24|
|Raushan | 25|
+--------+---+

In [ ]:
df_pyspark.filter((df_pyspark["Salary"] <=20000) & 
                  (df_pyspark["Salary"]>=15000)).show()

+--------+---+----------+------+
|   Name |Age|Experience|Salary|
+--------+---+----------+------+
|Raushan | 25|         1| 20000|
+--------+---+----------+------+

In [18]:
df_pyspark.filter(~(df_pyspark["Salary"] <= 20000)).show()

+-------+---+----------+------+
|  Name |Age|Experience|Salary|
+-------+---+----------+------+
|Abhinav| 22|         4| 25000|
|  Rishi| 22|         3| 30000|
|   Ansh| 21|         2| 35000|
|  Aryan| 23|         3| 22000|
+-------+---+----------+------+